<h1 align="center">{{title}}</h1>

<h2 align="center">Total Sales</h2>
<table>
  <tr>
    <th>Customer ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Postal Code</th>
    <th>Country</th>
  </tr>
  {{#each customerData}}
  <tr>
    <td>{{this.customerId}}</td>
    <td>{{this.firstName}}</td>
    <td>{{this.lastName}}</td>
    <td>{{this.email}}</td>
    <td>{{this.phonenum}}</td>
    <td>{{this.address}}</td>
    <td>{{this.city}}</td>
    <td>{{this.state}}</td>
    <td>{{this.postalCode}}</td>
    <td>{{this.country}}</td>
  </tr>
  {{/each}}
</table>
